/* цвет основного теста: rgba(33, 33, 33, 1) */
/* вторичный цвет текста: rgba(117, 117, 117, 1); */
/* белый цвет: rgba(255, 255, 255, 1); */
/* цвет акцента: rgba(33, 150, 243, 1) */
/* цвет фона: #e5e5e5; */
/* вторичный цвет фона: #F5F4FA */

/* Styles for index.html */

/* Hero */

.hero {
  background-color: #2f303a;
}
.hero-title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Section */

.section-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Features */
.feature-list .title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.feature-list .text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* Team */

.team {
  background-color: #f5f4fa;
}
.team-list .title {
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-list .text {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
/* Button */
.button {
  color: var(--white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
}
